#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form {
  padding: 10px;
}
#command {
  height: 25px;
  width: 150px;
}
#submit {
  width: 50px;
  height: 25px;
}
#board {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: flex-start;
  justify-content: space-around;
}
.add {
  text-align: center;
  width: 85%;
  margin: 5px;
  padding: 10px;
  color: #ffffff;
  border: #54a0ff dashed 2px;
}
.col {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding: 10px;
}
.subboard {
  margin-top: 10px;
  display: flex;
  min-width: 30vw;
  height: 100vw;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
}
.label {
  display: flex;
  margin-top: 10px;
  height: 100%;
  height: 50px;
  justify-content: center;
  align-items: center
}
#todoBoard {
  background: #c8d6e5;
}
.task {
  display: flex;
  align-items: flex-start;
  height: 30px;
  width: 100%;
}

#doingBoard {
  background: #f6e58d;
}
#doneBoard {
  background: #00d2d3;
}
#remove {
  display: flex;
  align-self: center;
  width: 70%;
  text-align: center;
  justify-content: center;
  background: #dca3a3;
  padding: 25px;
  color: #ffffff;
  border-radius: 10px;
}